header{
    padding: 20px 0;
}
.logo{
    float: left;
}
.munu{
    float: left;
    text-align: right;
}
.menu ul{
    list-style: none;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    padding-right: 25px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    color: #808080;
    transition: 0.3s;
}
.menu ul li a:hover{
    color: #ff5421;
}
/* header area style finish */
.hero{
    background-image: url(../img/banner/banner-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-overlay{
    background-color: transparent;
    background: linear-gradient(130deg, #03132D 0%, #FFFFFF00 100%);
    opacity: 0.85;
}
.hero .text span{
    color:#ff5421;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.hero .text h3{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-top: 10px;
}
.hero .text p{
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}
 button{
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    padding: 18px 35px;
    background: #FF5421;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
/* hero area design start here */

/* service area design start from here */

.service{
    background-color: #ff5421;
    padding: 70px 0;
}
.service .content{
    display: flex;
    justify-content: space-between;
}
.service .content .icon{
    padding: 25px;
    background: white;
    border-radius: 50%;
}
.service .content .icon i{
    font-size: 30px;
    color:#FF0000;
    margin: 0;
    padding: 0;;
}
.service .content .text h3{
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}
.service .content .text{
    padding-left: 20px;
    margin-bottom: 10px;
}
.service .content .text span{
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}

/* services area design finsih here */
.best-univercity span{
    color: #FF5421;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.best-univercity h3{
    color: #132643;
    font-family: "Roboto", Sans-serif;
    font-size: 44px;
    font-weight: 700;
    margin-top: 20px;
    padding-right: 35px;
}
.best-univercity p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

/* best univercity area design finish here */
.program{
    background: #F5F5F5;
}
.program .text{
    text-align: center;
}
.program .text span{
    text-transform: uppercase;
    color: #ff5421;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.program .text h3{
    color:#132643;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
}
.program .dgree{
    margin-top: 40px;
    background: #fff;
    margin: 40px 10px;
    box-shadow: 1px 2px 5px #888888;
}
.program .dgree .content{
    padding: 30px 20px;
}
.program .dgree h2{
    color: #132643;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.program .dgree p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61686E;
}
.program .dgree a{
    color: #e43804;
    font-weight: 600;
    line-height: 14px;
    margin-top: 10px;
    display: block;
}

/* program area design finish here */
 
/* course area design start from here */
.course{
    background: #F5F5F5;
}
.course .text{
    text-align: center;
}
.course .text span{
    text-transform: uppercase;
    color: #ff5421;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.course .text h3{
    color:#132643;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
}
.course .class{
    margin-top: 40px;
    background: #F7F7F7;
    margin: 40px 10px 20px 10px;
}
.course .class .content{
    padding: 30px 20px;
}
.course .class h2{
    color: #132643;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.course .class h6{
    background: #FF5421;
    padding: 2px 4px;
    border-radius: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.course .class span{
    display: inline-block;
    margin-bottom: 10px;
}
.course .class p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61686E;
}
.course .class a{
    color: #e43804;
    font-weight: 600;
    line-height: 14px;
    margin-top: 10px;
    display: block;
}
/* course area design area finish here */

/* our client area design start from here */
.our-client{
    background-image: url(../img/bg/course-img-9\ \(1\).jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-client .overlay{
    background-color: rgba(255, 84, 33, 0.9);
}
.our-client h3{
    color: #fff;
    font-size: 45px;
    font-size: 700;
}
.our-client span{
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
}

/* our client area design finsih here */

.tesimonail .text{
    text-align: center;
    margin: auto;
}
.tesimonail .class{
    margin: 0px 5px;
}
.tesimonail .client{
    margin-top: 50px;
}
.tesimonail .text span{
    text-transform: uppercase;
    color: #ff5421;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.tesimonail .text h3{
    color:#132643;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
}
.tesimonail .content{
    background: #F5F5F5;
    padding: 40px 40px;
}
.tesimonail .content .person{
    display: flex;
}
.tesimonail .content >p{
    color: #61686e;
    font-size: 14px;
    margin-bottom: 30px;
    display: block;
}
.tesimonail .content >p::before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ece9f0;
    font-size: 26px;
    display: block;
    margin-bottom: 15px;
}
.tesimonail .content hr{
    position: relative;
}
.tesimonail .content hr::before{
    content: "";
    position: absolute;
    left: 31px;
    right: 0;
    height: 10px;
    width: 10px;
    background: blue;
    bottom: 0;
    top: -1px;
    border: 8px solid transparent;
    border-bottom-color: #ece9f0;
    transform: rotate(180deg);

}
.tesimonail .content .person{
    padding-top: 30px;
}
.tesimonail .content .person img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* testimonail arear design finsh here */

/* best univercity area design finish here */
.Events{
    background: #F5F5F5;
}
.Events .text{
    text-align: center;
}
.Events .text span{
    text-transform: uppercase;
    color: #ff5421;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.Events .text h3{
    color:#132643;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
}
.Events .Even{
    margin-top: 40px;
    background: #fff;
    margin: 40px 10px;
}
.Events .Even .content{
    padding: 30px 20px;
}
.Events .Even h2{
    color: #132643;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.Events .Even ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.Events .Even ul i{
    color: #ff5421;
    padding-right: 10px;
}
.Events .Even p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61686E;
}
.Events .Even a{
    color: #e43804;
    font-weight: 600;
    line-height: 14px;
    margin-top: 10px;
    display: block;
}
/* Events area design finish here */

/* campus section area design start from here */
.campus{
    background: url(../img/banner/banner-4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    text-align: center;
} 
.campus .overlay{
    background-color: #03132D;
    opacity: 0.8;
    transition: 0.3s, border-radius 0.3s, opacity 0.3s;
}
.campus span{
    font-size: 14px;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
}
.campus h3{
    font-size: 45px;
    line-height: 45px;
    color: #fff;
    text-transform: capitalize;
}
.campus button{
    padding: 0;
    background: transparent;
}
.campus button i{
    font-size: 80px;
    transition-duration: 0.3s;
}
.campus button i:hover{
    color: tomato;
}
/* campus area design finsh here */
/* why choose area design start from here */
.choose{
    background:#F5F5F5;
}
.choose .content{
    padding: 50px 0px 0px 60px;
}
.choose .content .work{
    display: flex;
    margin-top: 30px;
}
.choose .content h3{
    font-size: 45px;
    color: #132643;
}
.choose .content .work i{
    padding: 20px 20px;
    background-color: #FF5421;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
}
.choose .content h4{
    font-size: 24px;
    color: #132643;
    line-height: 30px;
    margin-bottom: 10px;
}
.choose .content p{
    font-size: 16px;
    color: #61686e;
    line-height: 30px;
    font-weight: 300;
}

/* choose area design finish here */
/* best univercity area design finish here */
.teacher .text{
    text-align: center;
}
.teacher .text span{
    text-transform: uppercase;
    color: #ff5421;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.teacher .text h3{
    color:#132643;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
}
.teacher .teach .img{
    position: relative;
}
.teacher .teach .img::before:hover{
    background-color: yellow;
}
/* teacher area design finish here */

/* latest news area design start from here  */
/* best univercity area design finish here */
.latest{
    background: #F5F5F5;
}
.latest .text{
    text-align: center;
}
.latest .text span{
    text-transform: uppercase;
    color: #ff5421;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.latest .text h3{
    color:#132643;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
}
.latest .Even{
    margin-top: 40px;
    background: #fff;
    margin: 40px 10px;
    overflow: hidden;
}
.latest .Even .content{
    padding: 30px 20px;
}
.latest .Even img{
    transition-duration: 0.5s;
}
.latest .Even:hover > img{
    transform: scale(1.1);
}
.latest .Even h2{
    color: #132643;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.latest .Even ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.latest .Even ul i{
    color: #ff5421;
    padding-right: 10px;
}
.latest .Even p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61686E;
}
.latest .Even a{
    color: #e43804;
    font-weight: 600;
    line-height: 14px;
    margin-top: 10px;
    display: block;
}
