header{
    padding: 20px 0;
}
.logo{
    float: left;
}
.munu{
    float: left;
    text-align: right;
}
.menu ul{
    list-style: none;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    padding-right: 25px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    color: #808080;
    transition: 0.3s;
}
.menu ul li a:hover{
    color: #ff5421;
}
/* header area style finish */
.hero{
    background-image: url(../img/banner/banner-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-overlay{
    background-color: transparent;
    background: linear-gradient(130deg, #03132D 0%, #FFFFFF00 100%);
    opacity: 0.85;
}
.hero .text span{
    color:#ff5421;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.hero .text h3{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-top: 10px;
}
.hero .text p{
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}
 button{
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    padding: 18px 35px;
    background: #FF5421;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
/* hero area design start here */

/* service area design start from here */

.service{
    background-color: #ff5421;
    padding: 70px 0;
}
.service .content{
    display: flex;
    justify-content: space-between;
}
.service .content .icon{
    padding: 25px;
    background: white;
    border-radius: 50%;
}
.service .content .icon i{
    font-size: 30px;
    color:#FF0000;
    margin: 0;
    padding: 0;;
}
.service .content .text h3{
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}
.service .content .text{
    padding-left: 20px;
    margin-bottom: 10px;
}
.service .content .text span{
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}

/* services area design finsih here */
.best-univercity span{
    color: #FF5421;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.best-univercity h3{
    color: #132643;
    font-family: "Roboto", Sans-serif;
    font-size: 44px;
    font-weight: 700;
    margin-top: 20px;
    padding-right: 35px;
}
.best-univercity p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

/* best univercity area design finish here */
.program{
    background: #F5F5F5;
}
.program .text{
    text-align: center;
}
.program .text span{
    text-transform: uppercase;
    color: #ff5421;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.program .text h3{
    color:#132643;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
}
.program .dgree{
    margin-top: 40px;
    background: #fff;
    margin: 40px 10px;
    box-shadow: 1px 2px 5px #888888;
}
.program .dgree .content{
    padding: 30px 20px;
}
.program .dgree h2{
    color: #132643;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.program .dgree p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61686E;
}
.program .dgree a{
    color: #e43804;
    font-weight: 600;
    line-height: 14px;
    margin-top: 10px;
    display: block;
}

/* program area design finish here */
 
/* course area design start from here */
.course{
    background: #F5F5F5;
}
.course .text{
    text-align: center;
}
.course .text span{
    text-transform: uppercase;
    color: #ff5421;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.course .text h3{
    color:#132643;
    text-transform: capitalize;
    font-size: 44px;
    font-weight: 700;
}
.course .class{
    margin-top: 40px;
    background: #F7F7F7;
    margin: 40px 10px 20px 10px;
}
.course .class .content{
    padding: 30px 20px;
}
.course .class h2{
    color: #132643;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}
.course .class h6{
    background: #FF5421;
    padding: 2px 4px;
    border-radius: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
.course .class span{
    display: inline-block;
    margin-bottom: 10px;
}
.course .class p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61686E;
}
.course .class a{
    color: #e43804;
    font-weight: 600;
    line-height: 14px;
    margin-top: 10px;
    display: block;
}
