.top_bar{
    background-color: #1D1D1D;
    padding: 15px 0;
}
.top_bar .left .contact{
 float: left;
 padding-right: 10px;
}
.top_bar .left .contact a , .top_bar .right ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #b6b6b6;
    transition-duration: 0.5s;
}
.top_bar .left .contact a:hover, .top_bar .right ul li a:hover{
    color: red;
}
.top_bar .left .follow ul, .top_bar .right ul{
    list-style: none;
    margin: 0;
}
.top_bar .left .follow ul li , .top_bar .right ul li{
    float: left;
    padding: 0 8px;
}
.top_bar .left .follow ul li a, .top_bar .right ul li a{
    color: #b6b6b6;
    cursor: pointer;
    justify-content: middle;
}
.top_bar .right{
    float: right;
}
/* top bar style finis */
/* header area design  */
header{
    padding: 20px 0;
}
header .image{
    width: 200px;
}
header .image img{
    width: 100%;
}
header .main-menu{
    list-style: none;
    text-align: right;
    padding-top: 10px;
}
header .main-menu li{
    display: inline-block;
}
header .main-menu li a{
    text-decoration: none;
    color: #252525;
    font-family: 'Poppins', Open Sans;
    font-size: 17px;
    text-transform: capitalize;
    font-weight:600;
    margin: 0 0 0 20px;
    transition-duration: 0.3s;
    border-bottom: 2px solid transparent;
}
header .main-menu .active{
    border-bottom: 2px solid #FE1949 !important;
}
header .main-menu li a:hover{
    border-bottom: 2px solid #FE1949;
}
header .menu-icon{
    margin-left: 10px !important;
}
header .menu-icon:hover{
    border-bottom: 2px solid transparent !important;
    color: #FE1949;
}
/* header section area design finish */
.home{
   background-image: url(../img/home/main-home-img-6.jpg);
   background-size: cover;
    padding: 150px 0;
}
.home h1{
	font-size: 92px;
	font-weight: 700;
	color: #fff;
	position: relative;
}
.home h1:before{
	content: '';
	position: relative;
	height: 3px;
	width: 60px;
	background: #fff;
	bottom: 0;
	left: 0;
}
.home p{
	font-size: 19px;
	font-weight: 300px;
	color: #fff;
	line-height: 30px;
	padding: 50px 0;
}
.btn{
	font-size: 17px;
	font-weight: 600px;
	color: #fff;
	border: 2px solid #fff;
	text-transform: capitalize;
	padding: 20px 40px;
	display: inline-block;
	text-decoration: none;
	margin-right: 30px;
}
.btn i{
	visibility: hidden;
	transition-duration: 0.3s;
}
.btn:hover i{
	visibility: visible;
}
.btn-active{
	background: #FF1949;
	border: 2px solid #FF1949;
}

/* home are design finih  */

/* course area design start  */
.course-menu{
    list-style: none;
    margin-bottom: 40px;
}
.course-menu li{
    display: inline-block;
    text-transform: capitalize;
    font-size: 17px;
    color: #252525;
    margin-right: 25px;
    cursor: pointer;
}
.course-home {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.course-home img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.cor-ctg{
position: absolute;
    right:0px;
    bottom: 30px;
    color: #fff;
    background: #ff1949;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.7s;
}
.cor-ctg:hover{
    background-color: #252525;
}
.course-box:hover img{
    transform: scale(1.1);
}
.course-details{
    font-size: 17px;
    color: #252525;
    padding-top: 25px;
}
.course-details h3{
    font-size: 20px;
    transition: 0.3s;
    text-transform: capitalize;
}
.course-details h3 a{
    text-decoration: none;
    color: #252525;
}
.course-details h3 a:hover{
    color: #ff1949;
}
.instructor{
    font-size: 15px;
    text-transform: capitalize;
    color: #252525;
    padding-bottom: 25px;
    display: inline-block;
    position: relative;
}

.instructor::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: red;
    transition: 0.5;
}
.instructor:hover::before{
    width: 60px;
}
.course-details p{
    font-size: 15px;
    line-height: 24px;
    color: #444;
}
.courses-footer{
    font-size: 13px;
    padding-top: 30px;
}
.courses-footer a{
    color: #252525;
    text-transform: capitalize;
    text-decoration: none;
}
.courses-footer i{
    padding-right: 4px;
}
.courses-footer .ratting{
    margin-left: 20px;
}
.course-free{
    float: right;
    font-size: 20px;
    color: #ff1949 !important;
    font-weight: 700;
}
/* course section design finish */

/* expert section area design satart form hear  */
.expert .col-50{
    padding: 0;
}
.expert-box{
    width: 100%;
    height: 490px;
}
.expert-box-1{
    background: red;
}
.expert-box .text{
    padding: 100px 185px;
    color: #fff;
}
.expert-box .text h3{
    font-size: 40px;
}
.expert-box .text a{
    font-size: 17px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
}

.expert-box-2{
    background-image: url(../img/expert/main-home-img-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.expert-box-3{
    background-image: url(../img/expert/main-home-img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.expert-box-4 h3, 
.expert-box-4 a {
    color: #252525 !important;
}

/* expert area style finish here */

/* teacher area design start from here */
.section-title h2{
    font-size: 45px;
    color: #252525;
    padding-bottom: 40px;
    position: relative;
}
.section-title h2::before{
    
}
.section-title p{
    font-size: 19px;
    color: #333;
    line-height: 29px;
}




/* teacher area design finish here  */
